<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Zoom_Meeting_Launcher.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Zoom_Meeting_Launcher.My.MySettings>
            <setting name="Class1_Name" serializeAs="String">
                <value />
            </setting>
            <setting name="Class1_Link" serializeAs="String">
                <value />
            </setting>
            <setting name="Class1_Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Class2_Name" serializeAs="String">
                <value />
            </setting>
            <setting name="Class2_Link" serializeAs="String">
                <value />
            </setting>
            <setting name="Class2_Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Class3_Name" serializeAs="String">
                <value />
            </setting>
            <setting name="Class3_Link" serializeAs="String">
                <value />
            </setting>
            <setting name="Class3_Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Class4_Name" serializeAs="String">
                <value />
            </setting>
            <setting name="Class4_Link" serializeAs="String">
                <value />
            </setting>
            <setting name="Class4_Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Class5_Name" serializeAs="String">
                <value />
            </setting>
            <setting name="Class5_Link" serializeAs="String">
                <value />
            </setting>
            <setting name="Class5_Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Class6_Name" serializeAs="String">
                <value />
            </setting>
            <setting name="Class6_Link" serializeAs="String">
                <value />
            </setting>
            <setting name="Class6_Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Class7_Name" serializeAs="String">
                <value />
            </setting>
            <setting name="Class7_Link" serializeAs="String">
                <value />
            </setting>
            <setting name="Class7_Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Class8_Name" serializeAs="String">
                <value />
            </setting>
            <setting name="Class8_Link" serializeAs="String">
                <value />
            </setting>
            <setting name="Class8_Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Class9_Name" serializeAs="String">
                <value />
            </setting>
            <setting name="Class9_Link" serializeAs="String">
                <value />
            </setting>
            <setting name="Class9_Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Class10_Name" serializeAs="String">
                <value />
            </setting>
            <setting name="Class10_Link" serializeAs="String">
                <value />
            </setting>
            <setting name="Class10_Password" serializeAs="String">
                <value />
            </setting>
        </Zoom_Meeting_Launcher.My.MySettings>
    </userSettings>
</configuration>